
table{
    border-collapse: collapse;
    
}
.buttons{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
tr{
    border: 2px solid black;
}
td{
    padding: 1.2em;
    background-color: rgb(155, 246, 216);
    border: 2px solid black;
    padding: 1.2em;
    background-color: rgba(238, 193, 216, 0.9);
    border: 2px solid rgb(177, 156, 217);
}
.lentele{
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-image: url(../IMG/background.jpg);
    background-size: cover;
}
.given_words{
    color: white;
}

.wrong{
    background-color: red;
}
.correct{
    background-color: green;
    background-color: rgba(238, 193, 216, 0.9);
    border: 2px solid rgb(177, 156, 217);
}
.lentele{
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-image: url(../IMG/background.jpg);
    background-size: cover;
}
.given_words{
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
}